.app{
   background:#fc6bb4;
   width: 90%;
   max-width: 600px;
   margin: 100px auto 0;
    border-radius: 10px;
    padding: 20px 30px;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
}
.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border:1px solid #222;
    padding: 10px;
    margin: 15px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 30%;
    border:none;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ;
    display: none;
}
.correct{
    background: #9aeabc;

}
.incorrect{
    background: #ff7b7b;
}
.btn:disabled {
    cursor: no-drop;
}
.btn:hover:not(:disabled){
    background: #001e4d;
    color: #fff;
}
